<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="referrer" content="never" />
    <title>Vue.js Poster Shop</title>
    <link rel="icon" href="public/favicon.ico" type="image/x-icon">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Luckiest+Guy" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato|Montserrat" rel="stylesheet">

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="public/style.css">
</head>
<body>
<div id="app" v-cloak>
    <div class="header">
        <!--Logo-->
        <h1>Vue.js Poster Store</h1>
        <!--搜索框-->
        <form class="searchbar" v-on:submit.prevent="onSubmit">
            <input v-model="newSearch" type="text" placeholder="Search for posters">
            <input type="submit" value="搜索" class="btn">
        </form>
    </div>
    <div class="main">
        <div class="products">
            <div v-if="loading">
                加载中......
            </div>
            <div class="search-results" v-else>
                Found {{results.length}} results for search term {{lastSearch}}.
            </div>
            <div v-for="(item,index) in items" class="product">
                <div>
                    <div class="product-image">
                        <img :src="item.link" alt="item.title">
                    </div>
                </div>
                <div>
                    <h4 class="product-title">{{ item.title }}</h4>
                    <p>价格：<strong>{{price | currency}}</strong></p>
                    <button @click="addItem(index)" class="add-to-cart btn">添加购物车</button>
                </div>
            </div>
            <!--<p>Products go here.</p>-->
            <div id="product-list-bottom">
                <div v-if="noMoreItems">No more items.</div>
            </div>
        </div>
        <div class="cart">
            <h2>Shopping Cart</h2>
            <transition-group name="fade" tag="ul">
                <li v-for="item in cart" class="cart-item" :key="item.id">
                    <div class="item-title"> {{ item.title }}</div>
                    <span class="item-qty">{{ item.price | currency }} x {{ item.qty }}</span>
                    <button class="btn" @click="inc(item)">+</button>
                    <button class="btn" @click="dec(item)">-</button>
                </li>
            </transition-group>
            <transition name="fade">
                <div v-if="cart.length">
                    <div>总计：{{ total | currency }}</div>
                </div>
            </transition>
            <div v-if="cart.length === 0" class="empty-cart">
                购物车为空。
            </div>
        </div>
    </div>
</div>

<!-- Scripts -->
<script src="reload/reload.js"></script>
<script src="node_modules/vue/dist/vue.js"></script>
<script src="node_modules/vue-resource/dist/vue-resource.js"></script>
<script src="node_modules/scrollmonitor/scrollMonitor.js"></script>
<script type="text/javascript" src="public/script.js"></script>

</body>
</html>
